@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

#title {
    font-style: normal;
    color: black;
}
#blog {
    color: white;
}
#books {
    color: white;
}
#about {
    color: white;
}

.navbar {
    background-color: #D5DDD7;
}


body {
    font-family: 'Kaisei Tokumin', serif;
    font-style: italic;
}
